apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: mlflow
  namespace: infra-tools        # де працює ArgoCD
spec:
  project: default

  source:
    repoURL: https://github.com/bitnami/charts.git
    targetRevision: main        # гілка в репозиторії Bitnami
    path: bitnami/mlflow        # шлях до чарта в цьому репозиторії
    helm:
      values: |
        service:
          type: ClusterIP
          port: 5000

        ingress:
          enabled: false

        # Використаємо дефолтне сховище (SQLite / файлове)
        persistence:
          enabled: false

  destination:
    server: https://kubernetes.default.svc
    namespace: application      # сюди будуть створюватися pods / svc

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
